server:
  context-path: /api/canvass
  port: 8090

spring:
  redis:
    host: localhost
    password: secret
    port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/canvass
    username: postgres
    password: postgres
    driver: org.postgresql.Driver
    pool-name: HikariPool
    min-idle: 3
    pool-prepared-statements: true
    max-open-prepared-statements: 250
    maximumPoolSize: 10
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

canvass:
  pafApiBaseUrl: http://localhost:9002/v1

logging.level.: INFO

logging:
  level:
    org.springframework.security: DEBUG
    com.zaxxer.hikari.HikariConfig: ERROR
    com.infinityworks.webapp: ERROR
    org.hibernate.SQL: ERROR
    org.hibernate.type: ERROR

management:
  security:
    enabled: false
  context-path: /admin
