
# Application properties
# All properties can be overriden at runtime by passing the variable into the environment,
# e.g. java -Dserver.port=18080 -jar app.jar

server:
  context-path: /api/canvass
  port: 18080
  compression:
    enabled: true
    mime-types: application/pdf

spring:
  application:
    name: canvass
    admin:
      enabled: true
  redis:
    host: localhost
    password: secret
    port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/canvassapp
    username: postgres
    password: postgres
    driver: org.postgresql.Driver
    pool-name: HikariPool
    min-idle: 3
    pool-prepared-statements: true
    max-open-prepared-statements: 250
    maximumPoolSize: 10
  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect

canvass:
  cors:
    hosts: "*"
    methods:  "POST, GET, PUT, OPTIONS, DELETE"
  pafApiBaseUrl: https://134.213.133.29/v1/
  pafApiToken: 90f88caae35a5b863ae2450b55688a559b52a343
  pafApiTimeout: 60000
  addressLookupBaseUrl: https://maps.googleapis.com/maps/api/
  addressLookupToken: AIzaSyBdXzJ-korOOBRX8qZPRpxgo_yNvfpBXnU
  sendGridKey: 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
  passwordResetEndpoint: http://localhost:9000/#/newpassword
  passwordResetExpirationMins: 120
  passwordTokenExpiryDeletedUpdateInterval: 10
  supportEmail: vicssupport@voteleave.uk

logging.level.: INFO
logging.level:
  com.infinityworks: INFO
  org.springframework.cache: INFO

logstash:
  port: 4560
  url: localhost

# port not exposed to outside
management:
  context-path: /admin
  port: 18081
  security:
    enabled: false

info:
  app:
    name: Canvass App
    description: Voter Intention Collection System
