<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <property name="logstash.url" value="localhost"/>
    <property name="logstash.port" value="4560"/>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <remoteHost>${logstash.url}</remoteHost>
        <port>${logstash.port}</port>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="stash"/>
    </root>
</configuration>
