<section>
  <br>
  <div class="row">
    <div ng-if="errorLoadingData" class="alert alert-callout alert-danger" role="alert">
      <strong>Oh Snap!</strong> Error loading data from server.
    </div>
  </div>
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">User Associations</h2>
      </div>
      <div class="col-lg-8">
        <article class="lead">
          <p>
            Associate users with wards and constituencies
          </p>
        </article>
      </div>
    </div>

    <!-- USER -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>User</header>
          </div>
          <div class="card-body">
            <div class="input-group">
              <div class="input-group-content">
                <input type="text" class="form-control" id="readonly5" value="Readonly input" ng-model="user.username" readonly="">
                <label for="readonly5">username</label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- CONSTITUENCIES -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>Constituencies</header>
            <div class="tools">
              <div class="btn-group">
                <a class="btn btn-icon-toggle btn-refresh"><i class="fa fa-question"></i></a>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-success btn-sm raised" type="button" ng-click="onAddConstituency()">
                    ADD
                  </button>
                </div>
                <div class="input-group-content">
                  <input type="text"
                         ng-change="onConstituencyInputKeypress()"
                         ng-readonly="readOnlyConstituency"
                         id="constituencyInputID"
                         placeholder="Type a constituency name"
                         ng-model="constituencySearchModel"
                         typeahead="c as c.name + ' in (' + c.code + ')' for c in constituencies | filter:$viewValue | limitTo:8"
                         typeahead-on-select="onSelectConstituency()"
                         typeahead-loading="true"
                         class="form-control" id="pw1">
                </div>
              </div>
            </div>
            <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidConstituency">
              <strong>{{constituencySearchModel}} is not a valid constituency</strong>
            </div>

            <table class="table no-margin table-hover" ng-show="user.constituencies.length">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="c in user.constituencies">
                <td>{{$index}}</td>
                <td>{{c.name}}</td>
                <td>{{c.code}}</td>
                <td><button type="button" class="btn btn-sm btn-danger raised" tabindex="-1" ng-click="onDeleteConstituency(c.id)">DELETE</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <em class="text-caption">Grants access to all wards within the given constituencies</em>
      </div>
    </div>

    <!-- WARDS -->
    <div class="row">
      <div class="col-md-12 associate-wards-tbl">
        <div class="card">
          <div class="card-head">
            <header>Wards</header>
            <div class="tools">
              <div class="btn-group">
                <a class="btn btn-icon-toggle btn-refresh"><i class="fa fa-question"></i></a>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-success btn-sm raised" type="button" ng-click="onAddWard()">
                    ADD
                  </button>
                </div>
                <div class="input-group-content">

                  <input type="text"
                         ng-change="onWardInputKeypress()"
                         ng-readonly="readOnlyConstituency"
                         placeholder="Type a ward name"
                         id="wardInputID"
                         ng-model="wardSearchModel"
                         typeahead="w as w.name + ' (' + w.code + ') in ' + w.constituency.name for w in wards | filter:$viewValue | limitTo:50"
                         typeahead-on-select="onSelectConstituency()"
                         typeahead-loading="true"
                         class="form-control">
                </div>
              </div>

            </div>
            <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidWard">
              <strong>{{wardSearchModel}} is not a valid ward</strong>
            </div>

            <table class="table no-margin table-hover associate-wards-tbl" ng-show="user.wards.length">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Code</th>
                <th>Constituency</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="c in user.wards">
                <td>{{$index}}</td>
                <td>{{c.name}}</td>
                <td>{{c.code}}</td>
                <td>{{c.constituency.name}} ({{c.constituency.code}})</td>
                <td><button type="button" class="btn btn-sm btn-danger raised" tabindex="-1" ng-click="onDeleteWard(c.id)">DELETE</button></td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <em class="text-caption">Grants access to the given wards  in addition to any wards associated by the above constituencies</em>
      </div>
    </div>

  </div>
</section>
