<section ng-show="contentLoaded">
  <br>

  <!-- Choose Constituency -->
  <div class="row">
    <div ng-if="errorLoadingData" class="alert alert-callout alert-danger" role="alert">
      <strong>Oh Snap!</strong> Error loading data from server.
    </div>
  </div>
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">Canvass Card Generator</h2>
      </div>
      <div class="col-lg-8">
        <article class="lead">
          <p>
            Print canvass cards for your Wards
          </p>
        </article>
      </div>
    </div>
    <div class="row" ng-show="userHasNoAssociations">
      <div class="col-sm-12">
        <div class="alert alert-callout alert-warning" role="alert">
          <strong>Warning!</strong> You do not have any wards associated with your account. This will prevent
          you from submitting canvass data. Please contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> to request access.
        </div>
      </div>
    </div>

    <ward-search ng-show="contentLoaded && !userHasNoAssociations" on-select="onSelectWard" on-loaded-constituencies="onLoadedConstituencies"></ward-search>

    <!-- Download Cards -->
    <div class="row" ng-if="streets">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>3. Download Canvass Cards</header>
          </div>
          <div class="card-body tab-content style-default-bright">
            <div class="row">
              <div class="col-lg-12">
                <h4>Selection</h4>
                <div class="col-lg-12">
                  <article class="margin-bottom-xxl">
                    <p>
                      You have selected the following ward and constituency.
                    </p>
                  </article>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body no-padding">
                    <ul class="list">
                      <li class="tile">
                        <a class="tile-content ink-reaction">
                          <div class="tile-text canvass-search-result">
                            <div>{{constituencySearchModel.name}} ({{constituencySearchModel.code}})</div>
                            <small>Constituency</small>
                          </div>
                        </a>
                      </li>
                      <li class="tile">
                        <a class="tile-content ink-reaction">
                          <div class="tile-text">
                          <div>{{wardSearchModel.name}} ({{wardSearchModel.code}})</div>
                            <small>Ward</small>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Select individual streets or download all</h4>
                  </div>
                </div>
                <em class="text-caption">{{numStreetsSelected}} of {{streets.length}} streets selected</em>
                <div class="card">
                  <div class="card-actionbar">
                    <div class="card-actionbar-row">
                      <button type="button" class="btn btn-primary btn-sm raised pull-left" ng-click="onPrintSelected()" ng-disabled="numStreetsSelected === 0">Print Selected</button>
                      <a class="btn btn-danger btn-sm raised pull-left button-group-spacing" data-toggle="modal" data-target="#simpleModal">Print All</a>
                    </div>
                  </div>
                  <div class="card-body no-padding">
                    <ul class="list" data-sortable="true">
                      <li class="tile" ng-repeat="street in streets">
                        <div class="checkbox checkbox-styled tile-text">
                          <label>
                            <input ng-change="getNumStreetsSelected()" type="checkbox" ng-model="street.selected">
														<span>
															{{street | streetSingleLineFilter}}
														</span>
                          </label>
                        </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Confirm Save All modal -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Download Canvass Card</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-callout alert-danger" role="alert">
          <strong>Warning</strong> Downloading a large number of streets may take several minutes depending on the speed of your internet connection
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn raised btn-sm btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn raised btn-sm btn-danger" data-dismiss="modal" ng-click="onPrintAll()">Continue</button>
      </div>
    </div>
  </div>
</div>
