<header id="header" ng-show="streets && streets.length">
  <div class="headerbar">
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand">
          <div class="brand-holder">
            <h4>{{numStreetsSelected}} of {{streets.length}} <span class="hidden-xs">selected</span></h4>
          </div>
        </li>
      </ul>
    </div>

    <div class="headerbar-right">
      <div class="print-button-bar" style="margin: 13px 10px 13px 0;">
        <button type="button" class="btn btn-primary btn-sm raised pull-left" ng-click="onPrintSelected()"
                ng-disabled="numStreetsSelected === 0">Print Selected
        </button>
        <a class="btn btn-danger btn-sm raised pull-left button-group-spacing" data-toggle="modal"
           data-target="#simpleModal">Print All</a>
      </div>
    </div>
  </div>
</header>

<section id="canvassinputcontent" ng-show="contentLoaded">
  <br>
  <!-- Choose Constituency -->
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">Canvass Card Generator</h2>
      </div>
      <div class="col-lg-8">
        <article class="lead">
          <p>
            Print canvass cards for your Wards
          </p>
        </article>
      </div>
    </div>
    <div class="row" ng-show="userHasNoAssociations">
      <div class="col-sm-12">
        <div class="alert alert-callout alert-warning" role="alert">
          <strong>Warning!</strong> You do not have any wards associated with your account. This will prevent
          you from submitting canvass data. Please contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> to
          request access.
        </div>
      </div>
    </div>

    <ward-search ng-show="contentLoaded && !userHasNoAssociations"
                 on-select-constituency="onSelectConstituency"
                 on-select-ward="onSelectWard"
                 on-loaded-constituencies="onLoadedConstituencies"></ward-search>
    <!-- Download Cards -->
    <div id="printCards" class="row" ng-if="streets && streets.length">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>3. Download Canvass Cards</header>
          </div>
          <div class="card-body tab-content style-default-bright">
            <div class="row">
              <div class="col-lg-12">
                <p>You have selected the following constituency and ward.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">
                          <strong
                            class="pull-right text-default-light text-lg">{{constituencySearchModel.code}}</strong>
                          <strong class="text-xl">{{constituencySearchModel.name}}</strong><br/>
                          <span class="opacity-50">Constituency</span>
                          <div class="stick-bottom-left-right">
                            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                          </div>
                        </div>
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div><!--end .col -->

                  <div class="col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">
                          <strong class="pull-right text-default-light text-lg">{{wardSearchModel.code}}</strong>
                          <strong class="text-xl">{{wardSearchModel.name}}</strong><br/>
                          <span class="opacity-50">Ward</span>
                          <div class="stick-bottom-left-right">
                            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                          </div>
                        </div>
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div><!--end .col -->
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12">
                    <p>Select individual streets or download all</p>
                    <br>
                    <div id="noVoters" ng-if="errorLoadingData" class="alert alert-callout alert-danger" role="alert">
                      <strong>Sorry!</strong> We could not find any voters for the selected streets.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">

                    <div class="form">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-content">
                            <input type="text" class="form-control" id="filter" placeholder="Filter streets"
                                   ng-model="streetFilter">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Streets table -->
                    <table class="table table-hover no-margin">
                      <thead>
                      <tr>
                        <th></th>
                        <th>Street</th>
                        <th></th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="street in streets | filter:streetFilter">
                        <td>

                          <div class="checkbox checkbox-inline checkbox-styled">
                            <label>
                              <input ng-change="getNumStreetsSelected()"
                                     type="checkbox"
                                     ng-model="street.selected"><span></span>
                            </label>
                          </div>

                        </td>
                        <td class="streetsText">{{street | streetSingleLineFilter}}</td>
                        <td>

                        </td>
                        <td class="cursor-hand">
                          <a ng-click="onShowMap(street)">
                            <i style="font-size: 16pt;" class="md md-map"></i>
                          </a>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Confirm Save All modal -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Download Canvass Card</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-callout alert-danger" role="alert">
          <strong>Warning</strong> Downloading a large number of streets may take several minutes depending on the speed
          of your internet connection
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn raised btn-sm btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn raised btn-sm btn-danger" data-dismiss="modal" ng-click="onPrintAll()">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="mapModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{mapData.street}}</h3>
  </div>
  <div class="modal-body">

    <leaflet lf-center="mapData.berlin" markers="mapData.markers" height="480px" width="100%"></leaflet>

  </div>
  <div class="modal-footer">
    <a class="btn btn-danger raised" type="button" ng-click="cancel()">Close</a>
  </div>
</script>
