<section>
  <div class="section-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="text-light"><i class="fa fa-clock-o fa-fw fa-2x text-danger"> </i>Referendum <strong class="text-danger">Countdown</strong></h1>
        </div>
      </div>
      <br/>

      <!-- Days -->
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card  card-type-pricing text-center">

            <div class="card-body style-gray">
              <h2 class="text-light">Days</h2>
              <div class="price">
                <h2><span class="text-xxl">{{days}}</span></h2>
              </div>
              <br/>
            </div><!--end .card-body -->

          </div><!--end .card -->
        </div><!--end .col -->

        <!-- Hours -->
        <div class="col-sm-6 col-md-3">
          <div class="card card-type-pricing text-center">

            <div class="card-body style-gray">
              <h2 class="text-light">Hours</h2>
              <div class="price">
                <h2><span class="text-xxl">{{hours}}</span></h2>
              </div>
              <br/>
            </div><!--end .card-body -->

          </div><!--end .card -->
        </div><!--end .col -->

        <!-- Minutes -->
        <div class="col-sm-6 col-md-3">
          <div class="card card-type-pricing text-center">

            <div class="card-body style-gray">
              <h2 class="text-light">Minutes</h2>
              <div class="price">
                <h2><span class="text-xxl">{{minutes}}</span></h2>
              </div>
              <br/>
            </div><!--end .card-body -->

          </div><!--end .card -->
        </div><!--end .col -->

        <!-- Seconds -->
        <div class="col-sm-6 col-md-3">
          <div class="card card-type-pricing text-center">

            <div class="card-body style-gray">
              <h2 class="text-light">Seconds</h2>
              <div class="price">
                <h2><span class="text-xxl">{{seconds | number:0}}</span></h2>
              </div>
              <br/>
            </div><!--end .card-body -->

          </div><!--end .card -->
        </div><!--end .col -->
      </div><!--end .row -->
      <!-- END PRICING CARDS 1 -->



    </div><!--end .container -->
  </div><!--end .section-body -->
</section>
