<header id="header" ng-show="streets && streets.length && showSubMenu">
  <div class="headerbar">
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand">
          <div class="brand-holder">
            <h4>{{numStreetsSelected}} of {{streets.length}} streets <span class="hidden-xs">selected</span></h4>
          </div>
        </li>
      </ul>
    </div>

    <div class="headerbar-right">
      <div class="print-button-bar" style="margin: 13px 10px 13px 0;">
        <button type="button" class="btn btn-primary btn-sm raised pull-left" ng-click="onPrintSelected()"
                ng-disabled="numStreetsSelected === 0">Print Selected
        </button>
        <a class="btn btn-danger btn-sm raised pull-left button-group-spacing" data-toggle="modal"
           data-target="#simpleModal">Print All</a>
      </div>
    </div>
  </div>
</header>

<section id="canvassinputcontent" ng-show="contentLoaded">
  <br>
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">Get Out The Vote</h2>
      </div>
      <div class="col-lg-12">
        <article class="lead">
          <p>Target voters in your ward using the given filter criteria.</p>
        </article>
      </div>
    </div>

    <!-- No data warning -->
    <div class="row" ng-if="userHasNoAssociations">
      <div class="col-sm-12">
        <div class="alert alert-callout alert-warning" role="alert">
          <strong>Warning!</strong> You do not have any wards associated with your account. This will prevent
          you from submitting canvass data. Please contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> to
          request access.
        </div>
      </div>
    </div>

    <ward-search ng-show="contentLoaded && !userHasNoAssociations"
                 on-select-constituency="onSelectConstituency"
                 on-select-ward="onSelectWard"
                 on-loaded-constituencies="onLoadedConstituencies"></ward-search>

    <!-- 3. Select Streets -->
    <!-- Download Cards -->
    <div id="printCards" class="row" ng-if="streets && streets.length">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>3. Download Canvass Cards</header>
          </div>
          <div class="card-body tab-content style-default-bright">
            <div class="row">
              <div class="col-lg-12">
                <p>You have selected the following constituency and ward.</p>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">

                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">
                          <strong class="pull-right text-default-light text-lg">{{constituency.code}}</strong>
                          <strong class="text-xl">{{constituency.name}}</strong><br/>
                          <span class="opacity-50">Constituency</span>
                          <div class="stick-bottom-left-right">
                            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                          </div>
                        </div>
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div><!--end .col -->

                  <div class="col-md-6 col-sm-6">
                    <div class="card">
                      <div class="card-body no-padding">
                        <div class="alert alert-callout alert-danger no-margin">
                          <strong class="pull-right text-default-light text-lg">{{ward.code}}</strong>
                          <strong class="text-xl">{{ward.name}}</strong><br/>
                          <span class="opacity-50">Ward</span>
                          <div class="stick-bottom-left-right">
                            <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                          </div>
                        </div>
                      </div><!--end .card-body -->
                    </div><!--end .card -->
                  </div><!--end .col -->
                </div>

                <br>

                <div class="row">
                  <div class="col-lg-12">
                    <h4>Filter voters by intention and postal vote</h4>
                    <br>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group" style="margin-top: 25px">
                    <label class="col-sm-3 control-label">Voting Likelihood <a class="btn btn-icon-toggle btn-refresh"
                                                                               data-toggle="modal"
                                                                               data-target="#lhoodModal"><i
                      class="fa fa-question"></i></a></label>
                    <div class="col-sm-9 form-control-no-border">
                      <rzslider
                        rz-slider-model="likelihoodSlider.minValue"
                        rz-slider-high="likelihoodSlider.maxValue"
                        rz-slider-options="likelihoodSlider.options">
                      </rzslider>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 25px">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Voting Intention <a class="btn btn-icon-toggle btn-refresh"
                                                                              data-toggle="modal"
                                                                              data-target="#simpleModal"><i
                      class="fa fa-question"></i></a></label>
                    <div class="col-sm-9 form-control-no-border">
                      <rzslider rz-slider-model="intentionSlider.minValue"
                                rz-slider-high="intentionSlider.maxValue"
                                rz-slider-options="intentionSlider.options">
                      </rzslider>
                    </div>
                  </div>
                </div>

                <br>

                <!-- Wants PV filter -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Wants Postal Vote</label>
                    <div class="col-sm-3">
                      <switch id="wantsPVSwitch" name="wantsPVSwitch" ng-model="radios[0].enabled" class="red"></switch>
                    </div>
                    <div class="col-sm-6" ng-show="radios[0].enabled">
                      <label for="wantsPVYes" class="radio-inline radio-styled">
                        <input ng-click="radios[0].handler(true)" name="wantsPVRadioValue" id="wantsPVYes" type="radio"
                               ng-model="wantsPVRadioValue" value="true"><span>Yes</span>
                      </label>
                      <label for="wantsPVNo" class="radio-inline radio-styled">
                        <input ng-click="radios[0].handler(false)" name="wantsPVRadioValue" id="wantsPVNo" type="radio"
                               ng-model="wantsPVRadioValue" ng-value="false"><span>No</span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Has PV filter -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Has Postal Vote</label>
                    <div class="col-sm-3">
                      <switch id="hasPVSwitch" name="hasPVSwitch" ng-model="radios[1].enabled" class="red"></switch>
                    </div>
                    <div class="col-sm-6" ng-show="radios[1].enabled">
                      <label for="hasPVYes" class="radio-inline radio-styled">
                        <input ng-click="radios[1].handler(true)" name="hasPVRadioValue" id="hasPVYes" type="radio"
                               ng-model="hasPVValue" value="true"><span>Yes</span>
                      </label>
                      <label for="hasPVNo" class="radio-inline radio-styled">
                        <input ng-click="radios[1].handler(false)" name="hasPVRadioValue" id="hasPVNo" type="radio"
                               ng-model="hasPVValue" ng-value="false"><span>No</span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Lift filter -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Needs Lift</label>
                    <div class="col-sm-3">
                      <switch id="liftSwitch" name="liftSwitch" ng-model="radios[2].enabled" class="red"></switch>
                    </div>
                    <div class="col-sm-6" ng-show="radios[2].enabled">
                      <label for="liftYes" class="radio-inline radio-styled">
                        <input ng-click="radios[2].handler(true)" name="liftRadioValue" id="liftYes" type="radio"
                               ng-model="liftRadioValue" value="true"><span>Yes</span>
                      </label>
                      <label for="liftNo" class="radio-inline radio-styled">
                        <input ng-click="radios[2].handler(false)" name="liftRadioValue" id="liftNo" type="radio"
                               ng-model="liftRadioValue" ng-value="false"><span>No</span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Poster filter -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Display Poster</label>
                    <div class="col-sm-3">
                      <switch id="posterSwitch" name="posterSwitch" ng-model="radios[3].enabled" class="red"></switch>
                    </div>
                    <div class="col-sm-6" ng-show="radios[3].enabled">
                      <label for="posterYes" class="radio-inline radio-styled">
                        <input ng-click="radios[3].handler(true)" name="posterRadioValue" id="posterYes" type="radio"
                               ng-model="posterRadioValue" value="true"><span>Yes</span>
                      </label>
                      <label for="posterNo" class="radio-inline radio-styled">
                        <input ng-click="radios[3].handler(false)" ame="posterRadioValue" id="posterNo" type="radio"
                               ng-model="posterRadioValue" ng-value="false"><span>No</span>
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Poster filter -->
                <div class="row">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Canvassed Already</label>
                    <div class="col-sm-3">
                      <switch id="canvassedSwitch" name="canvassedSwitch" ng-model="radios[4].enabled" class="red"></switch>
                    </div>
                    <div class="col-sm-6" ng-show="radios[4].enabled">
                      <label for="canvassedYes" class="radio-inline radio-styled">
                        <input ng-click="radios[4].handler(true)" name="canvassedRadioValue" id="canvassedYes" type="radio"
                               ng-model="canvassedRadioValue" value="true"><span>Yes</span>
                      </label>
                      <label for="canvassedNo" class="radio-inline radio-styled">
                        <input ng-click="radios[4].handler(false)" ame="canvassedRadioValue" id="canvassedNo" type="radio"
                               ng-model="canvassedRadioValue" ng-value="false"><span>No</span>
                      </label>
                    </div>
                  </div>
                </div>

                <br><br>
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Select individual streets or download all</h4>
                    <br>
                    <div ng-if="errorLoadingData" class="alert alert-callout alert-danger" role="alert">
                      <strong>Sorry!</strong> We could not find any voters for the selected streets.
                    </div>
                  </div>
                </div>

                <div class="alert alert-callout alert-warning" ng-if="validationErrors.length" role="alert">
                  <p ng-repeat="error in validationErrors">
                    <i class="fa fa-warning"></i> &nbsp;{{error}}
                  </p>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="form">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-content">
                            <input type="text" class="form-control" id="filter" placeholder="Filter streets"
                                   ng-model="streetFilter">
                          </div>
                        </div>
                      </div>
                    </div>

                    <ul class="list" data-sortable="true">
                      <li class="tile" ng-repeat="street in streets | filter:streetFilter">
                        <div class="checkbox checkbox-styled tile-text">
                          <label>
                            <input ng-change="getNumStreetsSelected()" type="checkbox" ng-model="street.selected">
														<span>
															{{street | streetSingleLineFilter}}
														</span>
                          </label>
                        </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- intention modal -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Voting Intention</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>1</dt>
          <dd>Definitely remain</dd>

          <dt>2</dt>
          <dd>Probably remain</dd>

          <dt>3</dt>
          <dd>Undecided</dd>

          <dt>4</dt>
          <dd>Probably leave</dd>

          <dt>5</dt>
          <dd>Definitely leave</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!-- intention modal -->
<div class="modal fade" id="lhoodModal" tabindex="-1" role="dialog" aria-labelledby="lhoodModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="lhoodModalLabel">Voting Likelihood</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>1</dt>
          <dd>Definitely won't vote</dd>

          <dt>2</dt>
          <dd>Probably won't vote</dd>

          <dt>3</dt>
          <dd>Undecided</dd>

          <dt>4</dt>
          <dd>Probably will vote</dd>

          <dt>5</dt>
          <dd>Definitely will vote</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Save All modal -->
<div class="modal fade" id="confirmPrintAllModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmPrintAllModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="confirmPrintAllModalLabel">Download Canvass Card</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-callout alert-danger" role="alert">
          <strong>Warning</strong> Downloading a large number of streets may take several minutes depending on the speed
          of your internet connection
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn raised btn-sm btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn raised btn-sm btn-danger" data-dismiss="modal" ng-click="onPrintAll()">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
