<section>
  <div class="section-header">
    <ol class="breadcrumb">
      <li class="active">Login</li>
    </ol>
  </div>
  <div class="section-body contain-lg">

    <div class="row">
      <div class="col-sm-6">
        <br/>
        <br/><br/>
        <form class="form" accept-charset="utf-8" ng-submit="login()">
          <div class="form-group">
            <input type="text" class="form-control" id="username" ng-model="credentials.username">
            <label for="username">Username</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password">
            <label for="password">Password</label>
          </div>
          <div class="alert alert-callout alert-danger" role="alert" ng-show="badCredentials">
            <strong>Invalid Credentials</strong> Please retry or contact <a href="mailto:forgotpassword@voteleave.uk?Subject=Forgot%20Password" target="_top">forgotpassword@voteleave.uk</a> to renew your password
          </div>
          <div class="alert alert-callout alert-danger" role="alert" ng-show="networkError">
            <strong>Network Error!</strong> Cannot connect to server
          </div>
          <br/>
          <div class="row">
            <div class="col-xs-6 text-left">
            </div><!--end .col -->
            <div class="col-xs-6 text-right">
              <button class="btn btn-primary btn-raised" type="submit">Login</button>
            </div><!--end .col -->
          </div><!--end .row -->
        </form>
      </div><!--end .col -->
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <br><br>
        <h3 class="text-light">
          No account yet?
        </h3>
        <a class="btn btn-block btn-raised btn-primary" href="#" ng-click="logout()">Sign up here</a>
      </div><!--end .col -->
    </div><!--end .row -->
  </div><!--end .card-body -->
</section>
