<section ng-show="contentLoaded">
  <br>
  <div class="section-body contain-lg">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">Record Vote</h2>
      </div>
      <div class="col-lg-12">
        <article class="lead">
          <p>
            Enter the ward code and elector ID from the canvass card. If you do not have this information,
            search for the user by name and address.
          </p>
        </article>
      </div>
    </div>
    <div class="row" ng-if="userHasNoAssociations">
      <div class="col-sm-12">
        <div class="alert alert-callout alert-warning" role="alert">
          <strong>Warning!</strong> You do not have any wards associated with your account. This will prevent
          you from interacting with parts of the application. Please contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> to request access.
        </div>
      </div>
    </div>
    <div class="row" ng-if="!userHasNoAssociations">
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-head">
            <header>Enter the Elector ID</header>
            <div class="tools">
              <div class="btn-group">
                <a class="btn btn-icon-toggle btn-refresh" data-toggle="modal" data-target="#simpleModal"><i
                  class="fa fa-question"></i></a>
              </div>
            </div>
          </div><!--end .card-head -->
          <div class="card-body">
            <form class="form" ng-submit="onVote()">
              <div class="form-group">

                <label for="selectWard">Ward</label>
                <select id="selectWard" class="form-control"
                  ng-model="formModel.selectedWard"
                  ng-options="ward.name + ' in ' + ward.constituencyName for ward in wards">
                </select>

              </div>

              <div class="form-group">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="input-group">
                  <div class="input-group-content">
                    <input id="electorId" type="text" class="form-control" placeholder="-" ng-model="formModel.ern.pollingDistrict">
                    <label for="electorId">Polling District</label>
                  </div>

                  <div class="input-group-content">
                    <input id="electorNum" type="text" class="form-control" placeholder="-" ng-model="formModel.ern.number">
                    <label for="electorNum">Elector ID</label>
                  </div>

                  <div class="input-group-content">
                    <input id="electorSuffix" type="text" class="form-control" placeholder="-" ng-model="formModel.ern.suffix">
                    <label for="electorSuffix">Elector Suffix</label>
                  </div>

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-sm raised" tabindex="-1">VOTED</button>
                  </div>
                </div>
                <br>
                <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidErn">
                  <p>
                    <i class="fa fa-warning"></i> &nbsp;Invalid Elector ID. <a class="btn btn-icon-toggle btn-refresh" data-toggle="modal" data-target="#simpleModal"><i
                    class="fa fa-question"></i></a>
                  </p>
                </div>
                <div class="alert alert-callout alert-danger" role="alert" ng-show="invalidWard">
                  <p>
                    <i class="fa fa-warning"></i> &nbsp;Ward is not selected
                  </p>
                </div>

              </div>
            </form>
            <br>
            <table class="table no-margin table-hover">
              <thead>
              <tr>
                <th>Elector ID</th>
                <th>Reason</th>
                <th>Result</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="log in logs.elements.slice().reverse()"
                  ng-class="{danger: log.result === 0, success: log.result === 1}">
                <td>{{log.ern}}</td>
                <td>{{log.reason}}</td>
                <td ng-show="log.result === 1">SUCCESS</td>
                <td ng-show="log.result === 0">FAILED</td>
                <td ng-show="log.result === -1">-</td>
              </tr>
              </tbody>
            </table>

          </div><!--end .card-body -->
        </div><!--end .card -->
      </div><!--end .col -->
      <div class="col-lg-6 col-sm-6">
        <div class="card">
          <div class="card-head card-head-xs style-primary">
            <header>Search by Name and Address</header>
          </div><!--end .card-head -->
          <div class="card-body">
            <form class="form" ng-submit="onSearch()">
              <div class="form-group">

                <div class="input-group">
                  <div class="input-group-content">
                    <input id="fName" type="text" class="form-control" ng-model="searchModel.firstName">
                    <label for="fName">First Name</label>
                  </div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="input-group-content">
                    <input id="lName" type="text" class="form-control" ng-model="searchModel.lastName">
                    <label for="lName">Last Name</label>
                  </div>
                </div>
                <br><br>
                <div class="input-group">
                  <div class="input-group-content">
                    <input id="address" type="text" class="form-control" ng-model="searchModel.address">
                    <label for="address">Address</label>
                  </div>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="input-group-content">
                    <input id="pCode" type="text" class="form-control" ng-model="searchModel.postCode">
                    <label for="pCode">Post Code</label>
                  </div>
                </div>

                <br>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-sm raised pull-right" tabindex="-1">Search</button>
                  </div>
                </div>
              </div>

            </form>
            <br>
            <table class="table no-margin table-hover" ng-show="searchResults.length">
              <thead>
              <tr>
                <th>Roll #</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Post Code</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="result in searchResults">
                <td>{{result.rollNum}}</td>
                <td>{{result.firstName}}</td>
                <td>{{result.lastName}}</td>
                <td>{{result.address}}</td>
                <td>{{result.postCode}}</td>
                <td>
                  <button type="submit" class="btn btn-sm btn-danger" tabindex="-1" ng-click="onSearchVoted(result)">
                    Voted
                  </button>
                </td>
              </tr>
              </tbody>
            </table>

          </div><!--end .card-body -->
        </div><!--end .card -->
      </div><!--end .col -->
    </div>
  </div>
</section>

<!-- Elector ID modal -->
<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="simpleModalLabel">Elector ID explained</h4>
      </div>
      <div class="modal-body">
        <p>The Elector ID is a compound ID that uniquely identifiers an elector within a given ward. This ID is created
          by the application and is printed on the right column of the canvass card.
        </p>
        <br>
        <p class="text-center text-xxxl">BA-412-2</p>
        <p>Where</p>
        <p>
        <dl class="dl-horizontal">
          <dt>BA</dt>
          <dd>Polling district</dd>

          <dt>412</dt>
          <dd>Elector ID</dd>

          <dt>2</dt>
          <dd>Elector Suffix (optional)</dd>

        </dl>
        <p>If the Elector Suffix is not present the Elector ID is represented as <b>BA-412</b>
        </p>
      </div>
    </div>
  </div>
</div>
