<section>
  <div class="section-body">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-primary">Stats</h2>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div>
            <div class="col-sm-4">
              <stat-card count="{{adminStats.totalCanvassed}}" label="Total Canvassed"></stat-card>
            </div>
            <div class="col-sm-4">
              <stat-card count="{{adminStats.canvassedThisWeek}}" label="Past 7 days"></stat-card>
            </div>
            <div class="col-sm-4">
              <stat-card count="{{adminStats.users}}" label="Users"></stat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>Constituencies</header>
          </div>
          <div class="card-body">

            <table datatable="ng" class="row-border hover">
              <thead>
              <tr>
                <th>Constituency</th>
                <th>Region</th>
                <th>i1</th>
                <th>i2</th>
                <th>i3</th>
                <th>i4</th>
                <th>i5</th>
                <th>Voters</th>
                <th>Voted</th>
                <th>Pledges</th>
                <th>Pledges Voted</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="c in constituencies">
                <td>{{ c.stats.name }}</td>
                <td>{{ c.region }}</td>
                <td>{{ c.stats.intention['1'] }}</td>
                <td>{{ c.stats.intention['2'] }}</td>
                <td>{{ c.stats.intention['3'] }}</td>
                <td>{{ c.stats.intention['4'] }}</td>
                <td>{{ c.stats.intention['5'] }}</td>
                <td>{{ c.stats.voters }}</td>
                <td>{{ c.stats.voted.total }}</td>
                <td>{{ c.stats.pledged }}</td>
                <td>{{ c.stats.voted.pledged }}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-head">
            <header>Users By Region</header>
          </div>
          <div class="card-body">
            <table class="table table-condensed no-margin">
              <thead>
              <tr>
                <th>Region</th>
                <th># Users</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="stat in usersByRegionStats">
                <td>{{stat[0]}}</td>
                <td>{{stat[1]}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
