
.logo-text {
  margin-left: 12px;
  color: #000;
  font-size: 12pt;
}

.gui-controls > li > a {
  font-size: 10pt;
}

.menubar-inverse .gui-controls li .title {
  text-shadow: none;
}

.card-disabled {
  background-color: #c6c6c6;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

.multi-select {
  width: 100% !important;

}

