
.logo-text {
  margin-left: 12px;
  color: #000;
  font-size: 12pt;
}

.gui-controls > li > a {
  font-size: 10pt;
}

.menubar-inverse .gui-controls li .title {
  text-shadow: none;
}

.card-disabled {
  background-color: #c6c6c6;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

.multi-select {
  width: 100% !important;
}

.button-group-spacing {
  margin-left: 10px;
}

.spinbox {
  position: relative;
  top: -12px;
}

/* Spinner overrides */
#loading-bar .bar {
  background: #D92C27;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: #c63e32 1px 0 6px 1px;
  -ms-box-shadow: #C5443B 1px 0 6px 1px;
  -webkit-box-shadow: #C5443B 1px 0 6px 1px;
  box-shadow: #C5443B 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #C5443B;
  border-left-color: #C5443B;
}

.countdown {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 250px;
}

.associate-wards-tbl {
  margin-bottom: 1200px;
}

/* Override link highlight in canvass streets search result view */
.list .tile > a:hover {
  color: black !important;
}

/* Override push buttons */
.btn.raised {
  border-radius: 6px !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}

/* Range slider overrides */
rzslider .rz-pointer {
  background-color: #D92C27;
}

rzslider .rz-pointer.rz-active:after {
  background-color: #fff9ff;
}

rzslider .rz-bar.rz-selection {
  background: #ff9798;
}

rzslider .rz-ticks .tick.selected {
  background: #ff9798;
}

/* Removes the bootstrap 'blue glow' the slider */
.rz-active {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hl-focus:focus {
  background: #e4e0e2;
}

.switch.checked {
  background: #ff9798;
  border-color: #ff9798;
}

/* Override user agent default select autofill (login) */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #DFE0E0 !important;
  border-bottom: #DFE0E0 solid 1px;
}

.text-danger {
  color: #D92C27;
}

.ern-spacing {
  padding-right: 10px;
}

.cursor-hand:hover {
  cursor: pointer;
}

.btn-separator {
  margin-left: 5px !important;
}

.checkbox-focus-visible:not(ie8) input:focus ~ span:before {
  width: 20px;
  height: 20px;
  background-color: #c5bdc5;
}

/* egg */
div.egg {
  opacity: 0.75;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

div.game-center {
  width: 100px;
  height: 100px;
  background-color: red;

  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.list-hover:hover {
  background-color: #f5f5f5;
}

.streetsText {
  font-size: larger;
}

.radio label, .checkbox label {
   margin-bottom: 10px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.stats-cell {
  display:table-cell;
  width:20%;
  text-align: center;
}
.icon-med {
  font-size: 14pt;
}
.dropdown-override {
  opacity: 1; -moz-opacity: 1; filter: alpha(opacity=100);
}
.table {
  background-color: white !important;
}
