
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.logo-text {
  margin-left: 12px;
  color: #000;
  font-size: 12pt;
}

.gui-controls > li > a {
  font-size: 10pt;
}

.menubar-inverse .gui-controls li .title {
  text-shadow: none;
}

.card-disabled {
  background-color: #c6c6c6;
}

input:-webkit-autofill {
  background-color: #fff !important;
}

.multi-select {
  width: 100% !important;
}

.button-group-spacing {
  margin-left: 10px;
}

.spinbox {
  position: relative;
  top: -12px;
}

/* Spinner overrides */
#loading-bar .bar {
  background: #C5443B;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: #c63e32 1px 0 6px 1px;
  -ms-box-shadow: #C5443B 1px 0 6px 1px;
  -webkit-box-shadow: #C5443B 1px 0 6px 1px;
  box-shadow: #C5443B 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #C5443B;
  border-left-color: #C5443B;
}

.countdown {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 250px;
}

.associate-wards-tbl {
  margin-bottom: 1200px;
}

/* Override link highlight in canvass streets search result view */
.list .tile > a:hover {
  color: black !important;
}

/* Override push buttons */
.btn.raised {
  border-radius: 6px !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #e5e6e6 inset;
}
